<html lang='pt-BR'>
  <head>
    <meta charset='utf-8' />

    <title>{{title}}</title>

    <link rel='preconnect' href='https://fonts.googleapis.com' />

    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@400;700&family=Roboto&display=swap'
      rel='stylesheet'
    />

    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; } @media (max-width: 1080px) { html {
      font-size: 93.75%; } } @media (max-width: 720px) { html { font-size: 87.5%; } } body, button {
      font: 400 1rem "Roboto", sans-serif; } .container { padding: 2.3rem 0.25rem; max-width: 472px;
      width: 100%; margin: 0 auto; background: #ffffff; } .td_logo { text-align: center; } header {
      background-color: #0f274c; } .logo { max-width: 15rem; } .logo_wrapper { padding: 10px;
      display: flex; align-items: center; justify-content: center; margin-bottom: 30px; } .title {
      font-size: 2.5rem; font-family: "Roboto"; font-weight: 600; color: #00aba3; text-align:
      center; } .template_container { text-align: center; } .template_text_wrapper td { font-family:
      "Roboto"; font-size: 1.2rem; color: #0f1c2f; text-align: center; padding: 0.75rem 0; }
      .template_welcome p { font-weight: 400; font-size: 3rem; margin-bottom: 10px; } .template_link
      { display: inline-block; margin-top: 26px; max-width: 18.5rem; width: 100%; padding: 0.75rem
      0.25rem; background: #34d6bf; text-transform: uppercase; box-shadow: 0px 4px 4px 0px rgba(0,
      0, 0, 0.25); text-decoration: none; font-family: Roboto; color: #5f5454 !important;
      font-weight: 700; font-size: 1rem; cursor: pointer; transition: background 200ms; }
      .template_link:hover { background: #00aba3; } .footer-container { text-align: center; padding:
      1.5rem; gap: 10px; display: flex; justify-content: center; align-items: center;
      background-color: #f1f1f1; flex-direction: column; } a { text-decoration: none; }
      .footer-container .follow-us-text { font-family: "Roboto"; font-size: 1.2rem; }
      .footer-container .website-link { font-family: "Roboto"; font-size: 1.4rem; font-weight: 600;
      text-decoration: none; color: #0f1c2f; } .td_sub_button { margin-top: 30px; display: flex;
      flex-direction: column; align-items: space-between; font-weight: 600; color: #0f274c; }
      .td_sub_button_two { margin-top: 30px; display: flex; flex-direction: column; align-items:
      center; }
    </style>
  </head>

  <body>
    <table class='container' cellpadding='0' cellspacing='0'>
      <tr>
        <td class='td_logo'>
          <header>
            <div class='logo_wrapper'>
              <img
                class='logo'
                src='https://i.ibb.co/hWGy1SC/Logo-Sofia-Resolve-Assinatura-ciano-e-branco-1-2x.png'
              />
            </div>
          </header>
        </td>
      </tr>

      <tr style='display: flex; align-items: center; justify-content: center'>
        <td>
          <span style='font-size: 16px; font-weight: 600; color: #0f274c'>{{title}}</span>
        </td>
      </tr>

      <tr>
        <td>
          <table class='template_container' cellpadding='0' cellspacing='0'>
            <tr>
              <td>
                <table class='template_text_wrapper' cellpadding='0' cellspacing='0'>
                  <tr>
                    <td>
                      <p style='margin-bottom: 10px'>
                        Seu código para verificação da conta: {{code}}
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr class='td_sub_button'>
              <td>
                <p>
                  Caso não tenha sido você, ignore esse e-mail. Mas fique tranquilo(a), sua conta
                  está segura conosco.
                </p>
              </td>
            </tr>

            <tr class='td_sub_button_two'>
              <td>
                <p
                  style='
                    font-weight: 600;
                    color: #595959;
                    font-size: 16px;
                    margin-bottom: 10px;
                  '
                >
                  Equipe Sofia Resolve
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td rowspan='2'>
          <footer class='footer-container'>
            <div style='display: flex; gap: 10px'>
              <a href='https://www.youtube.com/@SofiaResolve' target='_blank'>
                <img class='logo' src='https://i.ibb.co/Brx3nRq/Filled-Social-Youtube.png' />
              </a>

              <a href='https://www.instagram.com/sofiaresolve/' target='_blank'>
                <img class='logo' src='https://i.ibb.co/swj8vmC/Filled-Social-Instagram-png.png' />
              </a>

              <a href='https://www.facebook.com/sofiaresolve' target='_blank'>
                <img class='logo' src='https://i.ibb.co/vcwTGZd/Filled-Social-Facebook-png.png' />
              </a>

              <a href='https://www.linkedin.com/company/sofia-resolve/' target='_blank'>
                <img class='logo' src='https://i.ibb.co/yyw1VYQ/Link.png' />
              </a>
            </div>
            <p style='color: #595959; font-size: 14px; padding-bottom: 10px'>
              Siga a Sofia Resolve nas redes sociais e acompanhe todas as novidades.
            </p>
          </footer>
        </td>
      </tr>
    </table>
  </body>
</html>